### Homework Excersise #1 - White Sox Data<br>
<p>Return a dataframe showing the White Sox qualified hitters* in order from best to worst XBHA**.</p>
<p>*A hitter must have at least 100 At Bats (AB's) to qualify</p>
<p>** XBHA is calculated as the number of extra base hits (2B, 3B, HR) divided by the number of At Bats (AB's)</p>

In [120]:
sox.head()

,Rk,Pos,Name,Age,G,PA,AB,R,H,2B,...,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,Position Group,XBHA
0,1,C,Yasmani Grandal,32,93,375,279,60,67,9,...,0.939,157,145,15,3,1,5,0,Infield,32.0
1,2,1B,José Abreu,34,152,659,566,86,148,30,...,0.831,125,272,28,22,0,10,3,Infield,62.0
2,3,2B,Cesar Hernandez,31,53,217,194,24,45,4,...,0.608,69,58,5,1,0,1,2,Infield,7.0
3,4,SS,Tim Anderson,28,123,551,527,94,163,29,...,0.806,118,247,5,1,0,1,1,Infield,48.0
4,5,3B,Yoan Moncada,26,144,616,520,74,137,33,...,0.787,117,214,6,10,0,2,1,Infield,48.0

In [106]:

second = sox['2B']
third = sox['3B']
home = sox['HR']
at_bat = sox['AB']
qualified = sox['AB'] >= 100

hits_sum = second + third + home
XBHA = hits_sum / qualified

In [119]:
sox['XBHA'] = XBHA
sox

,Rk,Pos,Name,Age,G,PA,AB,R,H,2B,...,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,Position Group,XBHA
0,1,C,Yasmani Grandal,32,93,375,279,60,67,9,...,0.939,157,145,15,3,1,5,0,Infield,32.0
1,2,1B,José Abreu,34,152,659,566,86,148,30,...,0.831,125,272,28,22,0,10,3,Infield,62.0
2,3,2B,Cesar Hernandez,31,53,217,194,24,45,4,...,0.608,69,58,5,1,0,1,2,Infield,7.0
3,4,SS,Tim Anderson,28,123,551,527,94,163,29,...,0.806,118,247,5,1,0,1,1,Infield,48.0
4,5,3B,Yoan Moncada,26,144,616,520,74,137,33,...,0.787,117,214,6,10,0,2,1,Infield,48.0

In [123]:
#now our table has the XBHA  avg, print sort our list by it

sox[['Name', 'XBHA']]

               Name  XBHA
0   Yasmani Grandal  32.0
1        José Abreu  62.0
2   Cesar Hernandez   7.0
3      Tim Anderson  48.0
4      Yoan Moncada  48.0
5     Andrew Vaughn  37.0
6       Luis Robert  36.0
7        Adam Eaton  15.0
8   Yermin Mercedes  17.0
9      Leury Garcia  31.0
10    Brian Goodwin  19.0
11     Eloy Jimenez  20.0
12     Zack Collins  17.0
13    Nick Madrigal  16.0
14    Danny Mendick   7.0
15     Gavin Sheets  19.0
16       Adam Engel  16.0
17   Billy Hamilton  13.0
18        Jake Lamb   8.0
19      Seby Zavala   inf
20      Jake Burger   inf
21    Romy Gonzalez   inf
22    Nick Williams   NaN
23    Luis Gonzalez   inf